<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>HW7 Images Page</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <h2>Today's technology headlines are...</h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Thumbnail</th>
      </tr>
      {% for title, url, thumbnail in articles %}
        <tr>
          <td><a href={{url}}>{{title}}</a></td>
          <td><img src={{thumbnail}} alt={{title}}/></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>